<div class="row">
  <div class="col-md-12">
    <h2>Input information</h2>

    <form class="form signup-form">
      <div class="form-group">

        <label for="name-signup">Name of location vaccinated:</label>
        <input class="form-input" type="text" id="locationName-signup" />
      </div>
      <div class="form-group">
        <label for="patientNum-signup">patient number:</label>
        <input class="form-input" type="text" id="patientNum-signup" />
      </div>
      <div class="form-group">
        <label for="vaccineName-signup">vaccine name:</label>
        <input class="form-input" type="text" id="vaccineName-signup" />
      </div>
      <div class="form-group">
        <label for="vaccineOne-signup">vaccine one:</label>
        <input class="form-input" type="boolean" id="vaccineOne-signup" />
      </div>
      <div class="form-group">
        <label for="vaccineTwo-signup">vaccine two:</label>
        <input class="form-input" type="boolean" id="vaccineTwo-signup" />
      </div>
            <div class="form-group">
        <label for="locationName-signup">location name:</label>
        <input class="form-input" type="text" id="locationName-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>
