<div class="card">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Login</h2>
      <form class="form login-form">
        <div class="form-group p-1">
          <input class="form-input" type="text" placeholder="Email" id="email-login" />
        </div>
        <div class="form-group p-1">
          <input class="form-input" type="password" placeholder="Password" id="password-login" />
        </div>
        <div class="form-group p-1">
          <button class="btn btn-primary" type="submit">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>


<script src="./js/login.js"></script>
